// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";


@mixin mytheme {
  @include valo;

  .v-label-failure {
    overflow-wrap: break-word;
  }

  .v-button.breadcrumb-btn:after {
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid $v-background-color;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
  }

  .v-ui {
    background-color: white;

    .content-layout .v-horizontallayout-two-columns {
      height: auto !important;
    }

    @include height-range(0,360){
      .main-layout {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @include width-range(0,640){
      .main-layout {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
    /*}

    @include width-range(0,360){
    */

      .content-layout .v-horizontallayout-two-columns {
        > .v-expand > .v-slot {
          width: 100% !important;
          height: auto !important;
          display: block !important;
          margin-left: 0 !important;
        }

        .upload-container {
          padding: 0;
        }
      }

  }

  // Insert your own theme rules here
  .upload-drop-zone {

      border-width: 5px;
      border-style: dashed;
      .v-panel-content {

        padding: 3em;

        .v-label {
          text-align: center;
        }
      }
    }
  }

  .view-out {
    @include valo-animate-in-slide-left;
  }
  .view-in {
    @include valo-animate-in-slide-right;
  }



}
