// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";


@mixin mytheme {
  @include valo;

  .v-label-failure {
    overflow-wrap: break-word;
  }

  .error-view {
    text-align: center;

    .v-label * {
        text-align: center;
    }
  }


  $v-unit-size: 38px;
  $v-bevel: none;
  $v-shadow: none;
  $v-gradient: false;

  @include valo-button($primary-stylename: breadcrumb-btn) {
  }
  .breadcrumb-btn {
    &:not(:last-child) {
        border-right-width: 0;
        margin-right: 1px;
    }

    &:focus:after {
      box-shadow: none !important;
    }
  }


  .breadcrumb-btn-spacer {
    $breadcrumb-unit-size: 38px;

    border-left: 0 !important;
    padding: 0 !important;
    min-width: 0 !important;

    &:before {
      position: absolute;
      margin-left: 1px;
      border-left: valo-border($border: 10px solid, $color: $v-background-color);
    }
    &:after {
      //border-left: 10px solid transparent;
      border-left: valo-border($border: 10px solid $v-background-color);
    }

    &:before,
    &:after {
      border-top: ($breadcrumb-unit-size / 2) solid transparent !important;
      border-bottom: ($breadcrumb-unit-size / 2) solid transparent !important;
      border-right: 0 !important;
      margin-top: ($breadcrumb-unit-size / 2) * -1;
      top: 50%;
      left: 0%;
      z-index: 10;
      height: 0 !important;
      width: 0 !important;
      content: "";
      display: inline-block !important;
    }

    &.breadcrumb-btn-friendly:before {
      border-left: valo-border($border: 10px solid, $color: $v-friendly-color);
    }
    &.breadcrumb-btn-friendly:after {
      border-left: valo-border($border: 10px solid $v-friendly-color);
    }
    &.breadcrumb-btn-primary:before {
      border-left: valo-border($border: 10px solid, $color: $v-selection-color);
    }
    &.breadcrumb-btn-primary:after {
      border-left: valo-border($border: 10px solid $v-selection-color);
    }

    &.breadcrumb-btn-friendly ~ .breadcrumb-btn ~ .breadcrumb-btn {
        border-left-style: hidden;
    }

    &:focus:after {
        box-shadow: none !important;
    }

    &.breadcrumb-btn-primary.v-disabled,
    &.breadcrumb-btn-friendly.v-disabled {
        opacity: 1 !important;
    }

  }

  .tweet {
      padding-bottom: 10px;

      .tweet-author-image {
        border-radius: 15px;
      }
  }

  .gallery-image {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #ddd;
    margin: 0 0 2.5% 2.5%;
    width: 45%;

    .v-caption {
        display: none;
    }
  }

  .v-ui {
    background-color: white;

    .content-layout .v-horizontallayout-two-columns {
      height: auto !important;
    }

    @include height-range(0,360){
      .main-layout {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @include width-range(0,468){
        .breadcrumb-btn {
            min-width: auto;

            .breadcrumb-btn-caption {
                display: none;
            }
        }
    }

    @include width-range(0,640){
      .main-layout {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }

       .v-panel-content-content-layout > .v-layout {
            padding-right: 24px;
       }

      .content-layout .v-horizontallayout-two-columns {
        > .v-expand > .v-slot {
          width: 100% !important;
          height: auto !important;
          display: block !important;
          margin-left: 0 !important;
        }

        .upload-container {
          padding: 0;
        }
      }

      .recognition-view .results {
        .v-expand {
            padding-left: 0px !important;
        }
        .v-slot {
          width: 100% !important;
          display: block !important;
          margin-left: 0px !important;
        }
      }

  }

  // Insert your own theme rules here
  .upload-drop-zone {

      border-width: 5px;
      border-style: dashed;
      .v-panel-content {

        padding: 3em;

        .v-label {
          text-align: center;
        }
      }
    }
  }

  .view-out {
    @include valo-animate-in-slide-left;
  }
  .view-in {
    @include valo-animate-in-slide-right($delay: 400ms);
  }



}
